/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

/* Permission Management - Roles */

.user-in-role {
  display: inline-block;
  margin-right: 12px;
}

.pointer {
  cursor: pointer;
}

.green-check-icon {
  color: green;
  font-size: 16px;
}

.orange-warning-icon {
  color: orange;
  font-size: 16px;
}

.white-remove-icon {
  color: white;
  font-size: 16px;
}

.lh-40 .row{
  line-height: 40px;
}

.add-payment-btn {
    margin-left: -20px;
}

.form-hint {
  float: left;
  text-align: left;
}

.pull-right-button {
  margin-left: 20px;
}
