<div>
    <div class="col-md-10 col-md-offset-1" ng-include src="'components/alert/alert.html'"></div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-6">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-2 with-button pull-right">
            <button class="btn btn-sm btn-info pull-right" ng-click="goProject()">
                <i class="fa fa-plus"></i> Add Project</button>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row" ng-if="isAdminUser">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    <label class="form-label">Show all projects:</label>
                                    <input class="checkbox-control" type="checkbox" ng-click="toggleShowAll()"
                                        ng-checked="filter.showAll === true" />
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <uib-tabset active="active">
                                <uib-tab index="0" heading="Current Projects" select="getProjects('active')">
                                    <br />
                                    <div ng-if="isLoaded">
                                        <div ng-show="projects.length===0">
                                            <div class="text-center m-t-lg">
                                                <h4>You don't have active projects right now. Please
                                                    <button class="btn btn-sm btn-info" ng-click="goProject()">
                                                        <strong>
                                                            Add a Project
                                                        </strong>
                                                    </button>
                                                </h4>
                                            </div>
                                        </div>
                                        <div ng-hide="projects.length===0">
                                            <table class="footable table table-stripped toggle-arrow-tiny"
                                                data-page-navigation=".pagination" data-page-size="10">
                                                <thead>
                                                    <tr>
                                                        <th class="col-lg-2">Project Name</th>
                                                        <th class="col-lg-2">Topcoder Direct ID</th>
                                                        <th class="col-lg-2">Gitlab/Github Repo Url</th>
                                                        <th class="col-lg-2" ng-show="isAdminUser">Owner</th>
                                                        <th class="col-lg-3" data-sort-ignore="true"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="project in projects" ng-class-even="'footable-even'"
                                                        ng-class-odd="'footable-odd'">
                                                        <td class="col-lg-2">{{project.title}}</td>
                                                        <td class="col-lg-2">
                                                            <a href="{{directUrlBase}}{{project.tcDirectId}}"
                                                                target="_blank">{{project.tcDirectId}}</a>
                                                        </td>
                                                        <td class="col-lg-2">
                                                            <a href="{{project.repoUrl}}" target="_blank">
                                                                {{repoType(project.repoUrl)}} </a>
                                                        </td>
                                                        <td class="col-lg-2" ng-show="isAdminUser">{{project.owner}}</td>
                                                        <td class="col-lg-2">
                                                            <button class="btn btn-sm btn-success" ng-click="goProject(project)">
                                                                <strong>Edit</strong>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="{{isAdminUser? 5: 4}}">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="1" heading="Archived Projects" select="getProjects('archived')">
                                    <br />
                                    <div ng-if="isLoaded">
                                        <div ng-show="projects.length===0" class="text-center m-t-lg">
                                            <p>No projects have been archived.</p>
                                        </div>
                                        <div ng-hide="projects.length===0">
                                            <table class="footable table table-stripped toggle-arrow-tiny"
                                                data-page-size="10">
                                                <thead>
                                                    <tr>
                                                        <th class="col-lg-2">Project Name</th>
                                                        <th class="col-lg-2">Topcoder Direct ID</th>
                                                        <th class="col-lg-2">Gitlab/Github Repo Url</th>
                                                        <th class="col-lg-2" ng-show="isAdminUser">Owner</th>
                                                        <th class="col-lg-2" data-sort-ignore="true"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="archivedProject in projects">
                                                        <td class="col-lg-2">{{archivedProject.title}}</td>
                                                        <td class="col-lg-2">
                                                            <a>{{archivedProject.tcDirectId}}</a>
                                                        </td>
                                                        <td class="col-lg-2">{{archivedProject.repoUrl}}</td>
                                                        <td class="col-lg-2" ng-show="isAdminUser">{{archivedProject.owner}}</td>
                                                        <td class="col-lg-2">
                                                            <button class="btn btn-sm btn-success" ng-click="goProject(archivedProject)">
                                                                <strong>Edit</strong>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="{{isAdminUser? 5: 4}}">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>