<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{title}}</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper gray-bg wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="text-center m-t-lg" ng-if="provider==='github'">
                        <p>You are already in the team!</p>
                        <a href="{{link}}">{{link}}</a>
                    </div>
                    <div class="text-center m-t-lg" ng-if="provider==='gitlab'">
                        <p>You were successfully added to the group!</p>
                        <a href="{{link}}">{{link}}</a>
                    </div>
                    <div class="text-center m-t-lg" ng-if="provider==='azure'">
                        <p>You were successfully added to the Azure DevOps project team!</p>
                        <a href="{{link}}">{{link}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
