<div>
  <div class="col-md-10 col-md-offset-1" ng-include src="'components/alert/alert.html'"></div>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-4">
      <h2>{{title}}</h2>
    </div>
    <div class="pull-right col-lg-5" ng-if="editing">
      <div class="col-lg-3" ng-if="!isAdminUser"></div>
      <div class="col-lg-3 with-button">
        <button class="btn btn-sm btn-info" ng-click="addLabels()">
          <strong>Add Labels</strong>
        </button>
      </div>
      <div class="col-lg-3 with-button">
        <button class="btn btn-sm btn-info" ng-click="addHooks()">
          <strong>
            Add Webhook
          </strong>
        </button>
      </div>
      <div class="col-lg-3 with-button">
        <button class="btn btn-sm btn-info" ng-click="addWikiRules()">
          <strong>
            Add Wiki Rules
          </strong>
        </button>
      </div>
      <div class="col-lg-3 with-button" ng-if="isAdminUser">
        <button class="btn btn-sm btn-info" ng-click="openTransferOwnershipDialog()">
          <strong>
            Transfer ownership
          </strong>
        </button>
      </div>
    </div>
  </div>

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center m-t-lg">
          <form name="projectForm">
            <label class="form-label">Project Name:</label>
            <input class="form-control" type="text" ng-model="project.title" required />
            <small class="form-hint">The project name can be anything you'd like. This should be a simple descriptor
              of the project</small>
            <span ng-show="projectForm.project.title.$touched && projectForm.project.title.$invalid">The
              project Title is required.</span>
            <br />
            <br />
            <label class="form-label">Direct ID:</label>
            <input class="form-control" type="number" ng-model="project.tcDirectId" required />
            <small class="form-hint">The Topcoder Direct ID of the project. You can obtain this through the URL to the
              project in Topcoder Direct. For example:
              "https://www.topcoder.com/direct/projectOverview?formData.projectId=16901" - Enter ID "16901"</small>
            <span ng-show="projectForm.project.tcDirectId.$touched && projectForm.project.tcDirectId.$invalid">The
              TC Direct ID is required.</span>
            <br />
            <br />
            <label class="form-label">Repo URL:</label>
            <input class="form-control" type="url" ng-model="project.repoUrl" required />
            <small class="form-hint"> The URL to the repository on Github or Gitlab. For example:
              "https://github.com/topcoder-platform/topcoder-x-receiver"</small>
            <span ng-show="projectForm.project.repoUrl.$touched && projectForm.project.repoUrl.$invalid">The
              TC Repo URL is required.</span>
            <br />
            <br />
            <label class="form-label">Copilot:</label>
            <input class="form-control" type="text" ng-model="project.copilot" required />
            <span ng-show="projectForm.project.copilot.$touched && projectForm.project.copilot.$invalid">The
              copilot is required.</span>
            <br />
            <div class="hide" *ng-if="true">
              <label class="form-label">Rocket.chat Webhook URL:</label>
              <input class="form-control" type="url" ng-model="project.rocketChatWebhook" />
              <span ng-show="projectForm.project.rocketChatWebhook.$touched && projectForm.project.rocketChatWebhook.$invalid">The
                Rocket Chat Webhook is required.</span>
              <br />
              <label class="form-label">Rocket.chat Channel Name:</label>
              <input class="form-control" type="text" ng-model="project.rocketChatChannelName" />
              <span ng-show="projectForm.project.rocketChatChannelName.$touched && projectForm.project.rocketChatChannelName.$invalid">The
                Rocket Chat Channel Name is required.</span>
              <br />
            </div>
            <label class="form-label">Archived:</label>
            <input class="checkbox-control" type="checkbox" ng-model="project.archived" ng-checked="project.archived === 'true'"
              ng-model="project.archived" ng-true-value="'true'" ng-false-value="'false'" />
            <br />

            <button type="submit" class="with-button btn btn-sm btn-info" ng-click="projectForm.$valid && save()">
              <strong>
                Save
              </strong>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>