<div>
  <div class="col-md-10 col-md-offset-1" ng-include src="'components/alert/alert.html'"></div>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-4">
      <h2>{{title}}</h2>
    </div>
  </div>

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center m-t-lg">
          <form name="issueForm">
            <label class="form-label">Project:</label>
            <select ng-model="selectedProject" class="form-control" required>
              <option value="" disabled selected hidden>---Select project---</option>
              <option ng-repeat="project in projects" value={{project}}>{{project.title}}</option>
            </select>
            <span ng-show="issueForm.issue.project.$touched && issueForm.issue.project.$invalid">The
              project is required.</span>
            <br />
            <br />
            <label class="form-label">Prize ($):</label>
            <input class="form-control" type="number" ng-model="issue.prize" min="0" required />
            <small class="form-hint">The price amount of the issue</small>
            <span ng-show="issueForm.issue.prize.$touched && issueForm.issue.prize.$invalid">The
              price is required.</span>
            <br />
            <br />
            <label class="form-label">Title:</label>
            <input class="form-control" type="text" ng-model="issue.title" required />
            <small class="form-hint"> The title of the issue</small>
            <span ng-show="issueForm.issue.title.$touched && issueForm.issue.title.$invalid">The
              title is required.</span>
            <br />
            <br />
            <label class="form-label">Issue comment:</label>
            <textarea class="form-control" rows="10" type="text" ng-model="issue.comment" required></textarea>
            <small class="form-hint"> The content text of the issue</small>
            <br />
            <br />

            <button type="submit" class="with-button btn btn-sm btn-primary" ng-click="issueForm.$valid && save()">
              <strong>
                Save
              </strong>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
