{
  "extends": "eslint-config-topcoder/nodejs",
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "lodash/prefer-invoke-map": 0,
    "import/no-unresolved": 0,
    "max-params": 0,
    "max-lines": 0,
    "max-statements": 0,
    "valid-jsdoc": 0
  }
}
